@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,700;1,900&family=Roboto+Condensed:ital,wght@0,400;0,700;1,500;1,900&family=Rubik+Doodle+Shadow&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    -font-family-1: 'Kanit', sans-serif;
    -font-family-2: 'Poppins', sans-serif;
    -font-family-3: 'Roboto', sans-serif;
}
/* 
font-family: 'Kanit', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik ', sans-serif;
 */

 .text-hov-icon{
    @apply hover:text-yellow-400
 }
 .bg-hov{
    @apply hover:bg-yellow-700 bg-yellow-200 text-black font-bold
 }